*{margin:0px;padding:0px;}
ul,li {list-style:none;}         
a,a:hover{ text-decoration:none;}
img {border:none;}

body{margin:0 auto;}

.footer{  height:68px;background:#FFF ; margin:0 auto; padding-top:20px; clear:both;}
.footer td{  font-size:14px; width:900px; text-align:center;}

.navbar-inverse .navbar-nav>li>a {color:#ccc}
.navbar-inverse .navbar-nav>li>a:hover{color:#000}