@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;font-size:16px}
a,a:hover{ text-decoration:none;}
ul{list-style:none;}         /*列表项标记的类型*/ 

body{background:#999;}
.top,.banner,.content,.footer{ margin:0 auto; width:960px; border:1px solid ; overflow:hidden;}
.top{width:710px;height:100px; padding:30px 0 0 250px;}
.blognav{}
.blogtoparea{padding:4px 0}
.blogtoparea a{font-size:34px;}
.blogtoparea .edit{font-size:16px}
.blognavInfo{}

.banner{padding:4px 0;}
.banner input{ float:right;width:70px;height:24px; margin-right:8px; cursor:pointer}

.content{color:#26887C;}
.content_left{ float:left;width:210px;margin-right:20px; } 

.left1,.left2{border:1px solid #184C4A; margin-bottom:10px;background:#041918;}
.left1_title,.left2_title{background:#184C4A; }
.left1_content{ padding:4px; }
.left1_content ul{line-height:2em;}
.left1_content li{white-space:nowrap; overflow:hidden;text-overflow:ellipsis}
.left2_content{padding:6px 6px; font-size:16px; overflow: hidden;}
	
.content_right{float:right;width:728px;border:1px solid #184C4A; margin-bottom:10px; background:#041918;} 
.right1_title{background:#184C4A;}
.right1_content{padding:0 20px 0 0;}
.right1_content ul{line-height:2em; font-weight:100;}
.right1_content li{ overflow:hidden; background:url(../images/SG_linedot.gif) bottom repeat-x;}
.right1_content_title{ float:left;width:450px;padding-left:8px; background:url(../images/SG_dot.gif) left no-repeat;}
.right1_content_title a{color:#26887C}
.right1_content_title a:hover{color:#0000EE}
.right1_content_time{float:right; width:120px; font-size:14px; font-style:italic; color:#999;}
.right1_content_CRUD{float:right;}
.right1_content_CRUD span{ cursor:pointer}


.footer{padding:10px 0; overflow:hidden;text-align:center;background:#000; color:#FFF;}

