$def with(name_id)
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--图标定义样式-->
        <link rel="stylesheet" type="text/css" href="../static/ECBM/css/icons.css" />
        <!--自定义样式-->
        <link rel="stylesheet" type="text/css" href="../static/ECBM/css/custom.css" />	
        <!--extjs自带样式-->
        <link rel="stylesheet" type="text/css" href="../static/ECBM/extjs/resources/css/ext-all.css" />
        <script type="text/javascript"	src="../static/ECBM/extjs/bootstrap.js"></script>
        <script type="text/javascript" src="../static/ECBM/extjs/ext-lang-zh_CN.js"></script>	
        
        <script type="text/javascript" src="../static/ECBM/app.js"></script>	
        
        <script type="text/javascript">
         window.role=3
         window.rolename='超级管理员'
        </script>	
        <title>绿色发展和生态补偿共享平台</title>
    </head>
    <body>
    <p id='Htmlvar' style='display:none'>$name_id</p>
    </body>
</html>
