*{margin:0px;padding:0px; }
ul,li {list-style:none;}         
a,a:hover{ text-decoration:none; cursor:pointer}
img {border:none;}
body{margin:0 auto; background:#F8FAFD} 


.bbs_content .pic_news{ height:140px; overflow:hidden; padding:20px;}
.bbs_content .picShow img{ height:80px; width:80px;}
.bbs_content .picShow a{ width:100px;font-size:14px;float:left;}
.bbs_content .picShow a:hover{ color:#F0F; text-decoration:none;}

.bbs_content .search{ padding:20px 40px;}

.bbs_content .News{padding:0 20px; margin:0 auto; overflow:hidden;}
.bbs_content .left{width:550px; float:left;}
.panel-heading{}
.new1 tr{ border-bottom:#E7E7E7 dashed 1px; border-top:none}
.new1 td{ border-bottom:#E7E7E7 dashed 1px; border-top:none}
.new1 td a{}
.new1 td a:hover{ color:#C00}

.new1 td[colspan="2"] a{ color:#093}
.new1 td[colspan="2"] a:hover{ color:#C00}

.new1>table>tbody>tr{ height:90px; padding-bottom:10px;} 
.new1>table>tbody>tr table{ border:1px solid #000}
.bbs_content .new2{}
.bbs_content .right{width:300px; float:right;  padding-left:10px;}



.bbs_banner .self_info{ height:120px; padding:10px 0px 0px 14px; border:2px solid #000; background:#EFF3FA}
.bbs_banner .pic{ width:70px; height:100px; float:left; padding-top:10px;}
.bbs_banner .pic .tip{ padding-left:4px; font-weight:bolder; color:#000;}
.bbs_banner .pic>img{width:70px; height:70px; border:#999 1px solid}

.bbs_banner .loginOrregister{float:left; padding:0 0 0 15px;}
.bbs_banner .loginOrregister>div{height:20px; width:46px; margin:5px 0 5px 0; padding:6px 0 2px 14px; }
.bbs_banner .loginOrregister .role{}
.bbs_banner .loginOrregister .login{ background:#0E74B4; color:#FFF; font-size:14px;cursor:pointer;}
.bbs_banner .loginOrregister .register{background:#0E74B4; color:#FFF; font-size:14px;cursor:pointer;}

.bbs_banner .search_table{ margin:20px 10px 20px 10px;}
.bbs_banner .search_table>input{width:164px;}

.bbs_banner .bannerTree{ padding:10px;color:#335AA4; font-weight:normal;}

.bbs_banner .bannerTree span{ cursor:pointer;}
.bbs_banner .bannerTree .file:hover{ background:#0C6;}



